*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Roboto", sans-serif;
    --color: #fff;
    --background-color: #18181b;

    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: 16px;
    margin-block: 0 30px;
}

[data-theme="light"] {
    --color: #18181b;
    --background-color: #fff;
}

svg {
    font-size: 24px;

    &.btn-close {
        font-size: 30px;
    }
}

a {
    text-decoration: none;
    color: var(--color);

    &:hover {
        color: #e0e0e0;
    }
}

.not-found {
    text-align: center;
    margin-block: 20px;
}

.alert {
    font-size: 0.8em;
    color: #f46e8d;
}

.btn-logout {
    background-color: transparent;
    border: none;
    color: var(--color);
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.spinner {
    position: fixed;
    height: 50px;
    width: 50px;
    border: 5px solid var(--color);
    border-radius: 50%;
    border-bottom-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.note-app {
    width: 80%;
    margin-inline: auto;
    padding: 10px 20px 20px;

    nav {
        border: solid var(--color);
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        #hamburger-button {
            display: none;
        }

        h1 {
            font-size: 30px;
        }

        ul {
            padding: 10px;
            display: flex;
            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 20px;

                &:nth-child(4) {
                    margin-right: 30px;
                }

                &:first-child {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: var(--color);
                    font-weight: bold;
                }
            }
        }
    }
}

.note-list {
    padding: 5px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    & > p {
        text-align: center;
    }
}

.note-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 10px;
}

.note-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid var(--color);

    &.note-detail {
        width: 50%;
        margin-inline: auto;
        margin-block: 20px;
    }

    .note-item__content {
        padding: 10px 10px;

        .note-date {
            font-size: 0.8em;
            margin-block: 3px 10px;
        }
    }

    .note-item__buttons {
        border-top: solid var(--color);
        display: flex;

        & > * {
            width: 100%;
            background-color: transparent;
            border: none;
            padding-block: 5px;
            color: var(--color);

            &:nth-child(1) {
                border-right: solid var(--color);

                &:hover {
                    color: #b00020;
                }
            }

            &:nth-child(2) {
                &:hover {
                    color: #c49000;
                }
            }
        }
    }
}

.note-add-form {
    border: solid var(--color);
    padding: 20px;
    margin-top: 20px;
    width: 60%;
    margin-inline: auto;

    & > * {
        display: block;
        width: 100%;
        padding: 5px;
        font-family: var(--font-family);

        &:not(button) {
            margin-bottom: 5px;

            &::placeholder {
                font-family: var(--font-family);
            }
        }
    }

    textarea {
        resize: none;
    }

    button {
        margin-top: 10px;
    }

    p {
        text-align: right;
    }

    h2 {
        text-align: center;
    }
}

.note-search-form {
    margin-block: 20px;
    display: flex;
    justify-content: right;

    input {
        padding: 5px;
        margin-right: 10px;
    }

    button {
        padding-inline: 10px;
    }
}

.auth-page {
    border: solid var(--color);
    width: 60%;
    margin-inline: auto;
    padding: 10px 20px;

    h1 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 0.9em;
    }

    a {
        color: rgb(127, 127, 237);
        text-decoration: underline;
    }

    form {
        & > * {
            display: block;
            padding: 5px 10px;
            width: 100%;

            &:not(button) {
                margin-bottom: 10px;
            }

            &:nth-child(4) {
                margin-bottom: 3px;
            }

            &:nth-child(5),
            &:last-child {
                padding-left: 0;
            }
        }

        button {
            margin-block: 20px;
        }
    }
}

.toggle-button {
    display: flex;
    margin-bottom: 5px;
    width: fit-content;
    margin-left: auto;

    & > * {
        background: transparent;
        padding: 5px 10px;
        min-width: 44px;
        color: var(--color);
        border: none;

        &:nth-child(2) {
            border: solid var(--color);
            margin-left: 10px;
        }
    }
}

/* Media Query */
@media screen and (max-width: 768px) {
    .note-app {
        width: 100%;
    }

    .note-add-form {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .note-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .note-add-form {
        width: 90%;
    }

    .note-item.note-detail {
        width: 70%;
    }

    .auth-page {
        width: 100%;
    }

    .note-app {
        nav {
            #hamburger-button {
                display: block;
                background-color: transparent;
                border: none;
                color: var(--color);
                font-size: 28px;
            }
    
            ul {
                display: none;
                position: fixed;
                width: 100vw;
                background-color: var(--background-color);
                top: 0;
                left: 0;
                border-bottom: solid var(--color);

                li {
                    display: block;
                    width: fit-content;
                    margin-inline: auto;
                    margin-bottom: 10px;

                    &:first-child {
                        margin-bottom: 10px;
                    }

                    &:nth-child(4) {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .note-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .note-item.note-detail {
        width: 100%;
    }
}